@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* simple button style */
button {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #4f46e5;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
